@{
    ViewData["Title"] = "Início";
}


<div class="container">
    <center>
        <a>
            <img src="~/images/favicon.png">
        </a>
    </center>
    <section class="main-slider">
        <img src="~/images/basketball.jpg" title="Funky roots" />
    </section>
    <section>
        <div class="row">
            <div class="col-md-8">
                <article class="blog-post">
                    <div class="blog-post-image">
                        <a href="post.html"><img src="~/images/aventura.jpg" alt=""></a>
                    </div>
                    <div class="blog-post-body">
                        <h2><a href="post.html">Pratique o esporte que você ama</a></h2>                        
                        <p>Selecione entre as mais de 30 modalidades esportivas disponíveis. O PlaySports disponibiliza desde esportes mais populares como Futebol, Basquete e Vôlei, até modalidades menos conhecidas e praticadas como Curling, Críquete e Bocha. O xadrez também esta incluso !!!.</p>                        
                    </div>
                </article>
                <!-- article -->
                <article class="blog-post">
                    <div class="blog-post-image">
                        <a href="post.html"><img src="~/images/amigos.jpg" alt=""></a>
                    </div>
                    <div class="blog-post-body">
                        <h2><a href="post.html">Aproveite e faça novas amizades</a></h2>                        
                        <p>O PlaySports além de auxiliar a marcar e realizar práticas esportivas com maior facilidade também proporciona ao usuário uma nova forma de criar novos vínculos e até mesmo novas amizades com outras pessoas que possuem a mesma paixão por esportes.</p>                     
                    </div>
                </article>
                <!-- article -->
                <article class="blog-post">
                    <div class="blog-post-image">
                        <a href="post.html"><img src="~/images/seuesporte.jpg" alt=""></a>
                    </div>
                    <div class="blog-post-body">
                        <h2><a href="post.html">Pratique com Segurança</a></h2>                        
                        <p>A equipe PlaySports recomenda que as práticas esportivas sejam marcadas sempre com mais de 3 integrantes contando com o criador. Recomendamos também que os locais definidos para as práticas sejam sempre locais públicos e movimentados.</p>                        
                    </div>
                </article>
            </div>
            <div class="col-md-4 sidebar-gutter">
                <aside>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Cidades Abrangidas</h3>
                        <div class="widget-container">
                            <ul>
                                <li><a href="#">Americana</a></li>
                                <li><a href="#">Artur Nogueira</a></li>
                                <li><a href="#">Campinas</a></li>
                                <li><a href="#">Cosmópolis</a></li>
                                <li><a href="#">Engenheiro Coelho</a></li>
                                <li><a href="#">Holambra</a></li>
                                <li><a href="#">Hortolândia</a></li>
                                <li><a href="#">Indaiatuba</a></li>
                                <li><a href="#">Itatiba</a></li>
                                <li><a href="#">Jaguariúna</a></li>
                                <li><a href="#">Monte Mor</a></li>
                                <li><a href="#">Morungaba</a></li>
                                <li><a href="#">Nova Odessa</a></li>
                                <li><a href="#">Paulínia</a></li>
                                <li><a href="#">Pedreira</a></li>
                                <li><a href="#">Santa Barbára d'Oeste</a></li>
                                <li><a href="#">Santo Antônio de Posse</a></li>
                                <li><a href="#">Sumaré</a></li>
                                <li><a href="#">Valinhos</a></li>
                                <li><a href="#">Vinhedo</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Modalidades Disponíveis</h3>
                        <div class="widget-container">
                            <ul>
                                <li><a href="#">Atletismo</a></li>
                                <li><a href="#">Badminton</a></li>
                                <li><a href="#">Basquete</a></li>
                                <li><a href="#">Beisebol</a></li>
                                <li><a href="#">Bocha</a></li>
                                <li><a href="#">Canoagem</a></li>
                                <li><a href="#">Capoeira</a></li>
                                <li><a href="#">Corrida de Rua</a></li>
                                <li><a href="#">Críquete</a></li>
                                <li><a href="#">Curling</a></li>
                                <li><a href="#">Esgrima</a></li>
                                <li><a href="#">Futebol</a></li>
                                <li><a href="#">Futebol Americano</a></li>
                                <li><a href="#">Futebol de Areia</a></li>
                                <li><a href="#">Futebol Society</a></li>
                                <li><a href="#">Futevôlei</a></li>
                                <li><a href="#">Futsal</a></li>
                                <li><a href="#">Hipismo</a></li>
                                <li><a href="#">Handbol</a></li>
                                <li><a href="#">Golfe</a></li>
                                <li><a href="#">Handebol</a></li>
                                <li><a href="#">Jiu-Jitsu</a></li>
                                <li><a href="#">Karate</a></li>
                                <li><a href="#">Mergulho</a></li>
                                <li><a href="#">Motocross</a></li>
                                <li><a href="#">Natação</a></li>
                                <li><a href="#">Paintball</a></li>
                                <li><a href="#">Parkour</a></li>
                                <li><a href="#">Peteca</a></li>
                                <li><a href="#">Polo</a></li>
                                <li><a href="#">Polo Aquático</a></li>
                                <li><a href="#">Rugby</a></li>
                                <li><a href="#">Tênis</a></li>
                                <li><a href="#">Tênis de Mesa</a></li>
                                <li><a href="#">Vôleibol</a></li>
                                <li><a href="#">Xadrez</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>  