@model PlaySports.Models.User;

@{
    ViewData["Title"] = "Chat";
}
<head>
    <link rel="stylesheet" href="~/css/chat.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
</head>

<div class="container">
    <style>
        img {
            max-width: 20%;
            height: auto;
        }
    </style>
    <h1 class="text-uppercase text-dark font-weight-bold">@ViewBag.Nome</h1>
    <img src="@ViewBag.DadosImagem">
</div>
<div class="main">



</div>
<div class="chats_wrapper">



</div>