@model PlaySports.Application.ViewModels.ChangeUserPasswordViewModel
@{
    ViewData["Title"] = "Alterar senha";
}

<div class="container my-4">
    <h1 class="bg-dark text-uppercase text-white p-2">Registrar</h1>
</div>
<div class="container">
    <div class="row no-gutters">
        <form asp-action="Create" class="col-12 col-lg-6">
            <input type="hidden" asp-for="Id" />
            <h4 class="text-uppercase">Informações de usuário</h4>
            <div class="form-group">
                <label asp-for="SenhaAtual" class="col-form-label"></label>
                <input asp-for="SenhaAtual" type="password" class="form-control" />
                <span asp-validation-for="SenhaAtual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovaSenha" class="col-form-label"></label>
                <input asp-for="NovaSenha" type="password" class="form-control" />
                <span asp-validation-for="NovaSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarNovaSenha" class="col-form-label"></label>
                <input asp-for="ConfirmarNovaSenha" type="password" class="form-control" />
                <span asp-validation-for="ConfirmarNovaSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-link text-uppercase">Voltar</a>
                <input type="submit" value="Alterar" class="btn btn-primary text-uppercase" />
            </div>
        </form>
        <div class="col-12 col-lg-6">
            <vc:summary />
        </div>
    </div>
</div>