@using PlaySports.Domain.Core.Enums
@model PlaySports.Application.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Atualizar";
}

<div class="container">
    <div class="jumbotron d-flex flex-wrap flex-row align-items-start justify-content-between">
        <h1 class="text-uppercase text-dark font-weight-bold">Editar</h1>
    </div>
</div>
<div class="container">
    <div class="row no-gutters">
        <form asp-action="Edit" enctype="multipart/form-data" class="col-12 col-lg-6">
            <input type="hidden" asp-for="Id" />
            <h4 class="text-uppercase">Informações pessoais</h4>
            <div class="form-group">
                <label asp-for="Imagem" class="col-form-label"></label>
                <input type="file" name="arquivos" />
                <br />
                <input type="submit" asp-action="EditImagem" value="Editar" class="btn btn-primary text-uppercase" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="col-form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                @foreach (var value in Enum.GetValues(typeof(Sexo)))
                {
                    <div class="">
                        <input type="radio" asp-for="Sexo" value="@value" />
                        <label asp-for="Sexo">@value.ToString()</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Esporte" class="col-form-label"></label>
                <select asp-for="Esporte" class="form-control">
                    <option>Atletismo</option>
                    <option>Badminton</option>
                    <option>Basquete</option>
                    <option>Beisebol</option>
                    <option>Bocha</option>
                    <option>Capoeira</option>
                    <option>Corrida de Rua</option>
                    <option>Críquete</option>
                    <option>Curling</option>
                    <option>Esgrima</option>
                    <option>Futebol</option>
                    <option>Futebol Americano</option>
                    <option>Futebol de Areia</option>
                    <option>Futebol Society</option>
                    <option>Futevôlei</option>
                    <option>Futsal</option>
                    <option>Hipismo</option>
                    <option>Golfe</option>
                    <option>Handebol</option>
                    <option>Jiu-Jitsu</option>
                    <option>Karate</option>
                    <option>Mergulho</option>
                    <option>Motocross</option>
                    <option>Natação</option>
                    <option>Paintball</option>
                    <option>Parkour</option>
                    <option>Peteca</option>
                    <option>Polo</option>
                    <option>Polo Aquático</option>
                    <option>Rugby</option>
                    <option>Tênis</option>
                    <option>Tênis de Mesa</option>
                    <option>Vôleibol</option>
                    <option>Vôlei de Quadra</option>
                    <option>Xadrez</option>
                </select>
                <span asp-validation-for="Esporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel" class="col-form-label"></label>
                <select asp-for="Nivel" class="form-control">
                    <option>Amador</option>
                    <option>Intermediário</option>
                    <option>Profissional</option>
                </select>
                <span asp-validation-for="Nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacao" class="col-form-label"></label>
                <select asp-for="Localizacao" class="form-control">
                    <option>Americana</option>
                    <option>Artur Nogueira</option>
                    <option>Campinas</option>
                    <option>Cosmópolis</option>
                    <option>Engenheiro Coelho</option>
                    <option>Holambra</option>
                    <option>Hortolândia</option>
                    <option>Indaiatuba</option>
                    <option>Itatiba</option>
                    <option>Jaguariúna</option>
                    <option>Monte Mor</option>
                    <option>Morungaba</option>
                    <option>Nova Odessa</option>
                    <option>Paulínia</option>
                    <option>Pedreira</option>
                    <option>Santa Barbára d'Oeste</option>
                    <option>Santo Antônio de Posse</option>
                    <option>Sumaré</option>
                    <option>Valinhos</option>
                    <option>Vinhedo</option>
                </select>
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <h4 class="text-uppercase">Informações de usuário</h4>
            <div class="form-group">
                <label asp-for="DataNascimento" class="col-form-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="col-form-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-link text-uppercase">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary text-uppercase" />
            </div>
        </form>
        <div class="col-12 col-lg-6">
            <vc:summary></vc:summary>
        </div>
    </div>
</div>